@model IEnumerable<ManagmentPortal_0_3.Models.Sector>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;


@{
    ViewData["Title"] = "Index";
}

<h1>List of all avaible sectors</h1>

@if (signInManager.IsSignedIn(User))
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Add New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SectorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SectorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SectorId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SectorId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SectorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.SectorId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}